@import "bootstrap/scss/bootstrap";

body {
    background-color: #eff3f6;
    // background-color: #e6e5e5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

label:hover {
    user-select: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a.link-underline-hover:hover {
    text-decoration: underline !important;
}

.red {
    color: red !important;
}

.nav-link.active {
    background-color: #77adf5 !important;
    font-weight: bold;
}

.site-bar-black {
    background-color: #252b3b;
}


.brands:hover>a {
    cursor: pointer;
    background-color: #4d99cc !important;
    color: #fff !important;
}

.none {
    display: none;
}

.chart-card {
    display: flex;
    justify-content: center;
}

canvas {
    max-width: 100%;
    height: auto;
    padding: 20px;
}


@media (max-width: 768px) {
    .chart-grid {
        grid-template-columns: 1fr;
    }
}

.nav-link {
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #495057;
    color: #fff;
}

.nav-link.active {
    background-color: #0d6efd;
    /* Màu xanh Bootstrap */
    color: white !important;
}

.color-b {
    color: #1190e0;
}