@import "bootstrap/scss/bootstrap";


body {
    background-color: #1C4866;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

label:hover {
    user-select: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a.link_request {
    color: #fff;
    text-decoration: underline;
}

a.link {
    color: blue !important;
    text-decoration: underline;
}

.red {
    color: red !important;
}

.nav-link.active {
    background-color: #77adf5 !important;
    font-weight: bold;
}


.brands:hover>a {
    cursor: pointer;
    background-color: #4d99cc !important;
    color: #fff !important;
}

.chart-grid {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.chart-card {
    display: flex;
    justify-content: center;
}

canvas {
    max-width: 100%;
    height: auto;
    padding: 20px;
}


@media (max-width: 768px) {
    .chart-grid {
        grid-template-columns: 1fr;
    }
}